.mainBody {
  height: 924px;
  /* width: 428px; */
  background-image: url("/src54/images/bg.svg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding: 5% 3%;
}
.mainContent {
  border: 1px solid black;
  height: 100%;
  padding: 15px;
}
.user {
  margin-top: 84px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 5px;
}
.userName {
  font-family: "Montserrat";
  font-weight: bold;
  font-size: 36px;
  letter-spacing: 0.05em;
  color: #888888;
}
.profession {
  font-family: "Roboto";
  font-size: 18px;
}
.about {
  color: #bebebe;
  font-size: 12px;
  text-align: center;
}
.icon {
  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: center;
  padding: 5px;
  width: 30%;
}
.icon img {
  width: 20px;
  height: 20px;
  margin: 24px 0;
}
.circleImage {
  clip-path: circle(40% at 50% 50%);
}
.userImage {
  margin-top: 25px;
  position: relative;
  /* display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; */
}
.logo {
  position: absolute;
  top: 60%;
  right: 8%;
}
.footer {
  margin-top: 40px;
}
.address img {
  margin-right: 30px;
}
.footerIcon {
  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: center;
}

.phoneIcon {
  display: flex;
  align-items: center;
  justify-content: end;
}
td {
  text-align: right;
  padding-right: 10px;
}
td img {
  margin-bottom: 15px;
}
td span {
  margin-bottom: 30px;
}
.address {
  text-align: end;
}
.socialMedia {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 5px;
}
.socialIcon img {
  margin: 5px 0;
  margin-left: 22px;
}
