body {
  display: flex;
}

.mainCard {
  background-color: #243153;
  background-image: url("src/images/Vector 675.png");
  background-repeat: no-repeat;
  width: 442px;
}

.vetorImage {
  position: absolute;
  margin: 10px 39px;
}

.userIamge {
  position: relative;
  top: 30px;
  left: 65px;
}

.logo {
  position: relative;
  top: 145px;
  right: 125px;
}

.useName {
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  font-size: 35px;
  letter-spacing: 0.05em;
  color: #243153;
}

.profession {
  font-family: "roboto", serif;
  font-size: 22px;
  color: #243153;
}

.address {
  width: 100%;
}

.address-icon {
  height: 30px;
  margin: auto;
  padding: 1px 0px 1px 0px;
}
.address img {
  height: 20px;
  width: 15px;
}

.icon img {
  margin-top: 3px;
}

.iconText {
  font-size: 12px;
}

.footer {
  margin-top: 110px;
  float: right;
}

.info {
  font-family: "Poppins", serif;
  color: #ffe97a;
  font-size: 12px;
}

.footer-icon {
  margin-top: 83.59px;
}

.shortLine {
  color: #ffe97a;
  float: right;
  width: 130px;
  border: 1px solid #ffe97a;
}

.footer-icon {
  /*margin-top: 50px;*/
}

.footer-icon img {
  /*margin-left: 49px;*/
  /*margin-bottom: 58px;*/
}
